h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

header {
  margin-bottom: 16px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #d9d9d9;
}

.avatar {
  display: block;
  position: relative;
  margin-right: auto;
  width: 280px;
  height: 280px;
  border-radius: 280px;
  background: #f8c23b;
}

.avatar__img {
  display: block;
  width: 240px;
  height: 240px;
  border-radius: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.employee-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
  height: 180px;
  background: #262626;
}

.name {
  font-family: Montserrat, sans-serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 5px;
}

.post {
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #d9d9d9;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: auto;
}

.line {
  width: auto;
  height: 20px;
  background: #f8c23b;
}

.container {
  width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 16px;
  width: 383px;
  background: #262626;
}

.info-title {
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #262626;
  padding-left: 10px;
  margin-bottom: 15px;
  width: 300px;
  height: 39px;
  background: #f8c23b;
}

.info-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.info-sub-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;
}

.info-list {
  padding-left: 10px;
  padding-right: 10px;
}

.overview {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background: #d9d9d9;
}

.overview__chapter {
  margin-bottom: 30px;
}

.overview__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fcfcfc;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 283px;
  height: 45px;
  background: #252525;
}

.overview-name {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.overview-text {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #262626;
}

.footer-info__name {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

.footer-info__post {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #d9d9d9;
}

.footer-info__date {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #d9d9d9;
}

.connection-icon {
  fill: #f8c23b;
  margin-right: 10px;
}

.contact-list {
  margin-bottom: 20px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}