.section-info {
  display: flex;
  flex-direction: column;
  background: #d9d9d9;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #262626;

  @include point-tablet-min {
    margin-right: 16px;
    padding: 16px;
  }
}

.section-info__list {
  padding: 10px;
  background-color: #262626;

  @include point-tablet-min {
    background-color: none;
  }
}

////text

.info-title {
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #262626;

  padding-left: 10px;
  background: #f8c23b;
}

.info-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: #fff;
}
.info-sub-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;

  color: #fff;
}
.section-info__list {
  padding-left: 10px;
  padding-right: 10px;
}

.soc__link,
.contact__link {
  &:hover,
  &:focus {
    color: #f8c23b;
  }
}
