.section-overview {
  background: #d9d9d9;

  @include point-mobile-min {
    padding: 10px;
  }

  @include point-tablet-min {
    padding: 30px;
  }

  @include point-desktop-min {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.section-overview__chapter {
  margin-bottom: 30px;
}

.section-overview__title {
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #fcfcfc;

  padding-left: 16px;
  width: 283px;
  height: 45px;
  background: #252525;
}

.section-overview-name {
  color: #000;

  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-overview-name {
  // padding: 16px;
}

.section-overview-text {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  // padding-left: 16px;
}
